<ng-container *ngIf="dataLoaded; else loading">
  <div class="container">
    <div class="card input-card">
      <label>Pet Name:</label>
      <input [(ngModel)]="inputValue" />
      <button (click)="onAddClick()">Add</button>
    </div>
    <div class="card pets-card">
      <h3>Pets:</h3>
      <ul>
        <li *ngFor="let pet of viewModel.pets">{{ pet.name }}</li>
      </ul>
    </div>
  </div>
  <app-developer-panel></app-developer-panel>
  <app-developer-notifications></app-developer-notifications>
</ng-container>
<ng-template #loading>
  <p>loading...</p>
</ng-template>
